section(class="bg-white block-shadow mt-4 pb-4")
    div(class="d-flex justify-content-around heading-border py-4")
        a(href="#twitter") 
            img(src="/images/twitter-logo.svg" height="50px" width="50px" alt="Twitter")
        a(href="#github") 
            img(src="/images/github-logo.svg" height="50px" width="50px" alt="Github")
        a(href="#twitter") 
            img(src="/images/email-logo.svg" height="50px" width="50px" alt="Email")
    div(class="d-flex justify-content-around heading-border")
        a(class="text-text font-heading no-underline" href="#contact") Contact
        a(class="text-text font-heading no-underline" href="#api") API
        a(class="text-text font-heading no-underline" href="#privacy") Privacy
        a(class="text-text font-heading no-underline" href="#terms") Terms
    p(class="font-task text-center text-light-icon mb-0 pt-3") &copy; 2020 SquareTODO.com
