nav(class="navbar navbar-expand-md navbar-light bg-white py-0")
    
    
    //-button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsable" aria-controls="navbarCollapsable" aria-expanded="true" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon bg-black text-black")
    
    
    
    a(class="navbar-brand py-0 float-left ml-2 mr-auto" href="/")
        span(class="font-logo-square text-logo") Square
        span(class="font-logo-todo text-logo") TODO
    
    
    
    
    
    
    //-div(class="collapse navbar-collapse" id="navbarCollapsable")
        ul(class="navbar-nav ml-auto")
            li(class="nav-item active")
                a(class="nav-link text-text font-heading" href="#") New Task
            li(class="nav-item active")
                a(class="nav-link text-text font-heading" href="#") New List
            li(class="nav-item active")
                a(class="nav-link text-text font-heading" href="#") View Lists
            li(class="nav-item active")
                a(class="nav-link text-text font-heading" href="#") Settings